[Unit]
Description=update system
After=multi-user.target

[Service]
ExecStart=/usr/bin/bash /root/.scripts/bupdate.sh
Type=simple

[Install]
WantedBy=multi-user.target
